<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" aria-label="Logo Click" href="#">Logo</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" aria-label="ReadMe Click" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/']">ReadMe</a>
        </li>
        <li class="nav-item" aria-label="Tools" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/tools']">Tools</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>