<div class="container readme">
    <h1 class="text-muted">Hello! My name is {{name}}!</h1>
    <h2>ReadMe</h2>
    <h4>Key Features</h4>
    <ol>
        <li>Simple routing added</li>
        <li>Open/Close tooltip as per requirement</li>
        <li>Closing of tooltip if clicked outside of it</li>
        <li>Tooltip closed when 'esc' key is pressed</li>
        <li>Look in <code>src/assets/sass</code> folder for SASS code</li>
        <li>Accessibility feature added using <code>aria-*</code> attributes</li>
        <li>Attempt was made to detect the edge of screen and to reposition tooltip below the button, however it did not work unfortunately. There are possibilities for writing workarounds though.</li>
    </ol>
    <p class="blue"><strong>To view the assignment go to
        <a [routerLink]="['/tooltips-buttons']">Buttons & Tooltips</a> page. The object and details of the test are described below...</strong></p>

    
</div>