﻿//
// Mixins
// --------------------------------------------------

@mixin opacity($value){
  $ie-value: $value * 100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$ie-value+")";
  filter: alpha(opacity=$ie-value);
}

@mixin radius($radius) {
 -webkit-border-radius: $radius; //Chrome,Safari4+
 -moz-border-radius: $radius;	 //FF3.6+ 
 -o-border-radius: $radius;		 //Opera 11.10+ 
 -ms-border-radius: $radius;     //IE10+ 
  border-radius: $radius;
}

// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

// Transitions
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// RGBA colours in IE via a SASS mixin
@mixin rgba($colour, $alpha) {
  $alphaColour: hsla(hue($colour), saturation($colour), lightness($colour), $alpha);
  $ieAlphaColour: argb($alphaColour);
  
  background-color: $colour; // Fallback for older browsers
  background-color: $alphaColour; 
  
  // IE hacks
  zoom: 1; // hasLayout
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$ieAlphaColour}', endColorstr='#{ieAlphaColour}')"; // IE 8+
      filter:  "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$ieAlphaColour}', endColorstr='#{ieAlphaColour}')";  // IE 6 & 7 
}

//Veritcally Align
@mixin vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}